
/*********************************************************************************
* Versions
*/

#landing-demo-versions .thumbnail {
  padding-top: 40px;
  padding-bottom: 30px;

  text-align: center;

  font-size: 20px;
}

#landing-demo-versions img { margin-bottom: 25px; }

#landing-demo-versions .box {
  margin: 50px 0 0 0;

  vertical-align: top;

  background: none !important;
}

#landing-demo-versions p {
  margin: 0;

  font-size: 14px;
  font-weight: 300;
}

#landing-demo-versions .box-cell:first-child {
  width: 50px;

  text-align: center;

  font-size: 40px;
}

#landing-demo-versions h4 {
  margin: 0 0 15px 0;

  font-size: 16px;
  font-weight: 600;
}


/*********************************************************************************
* Themes
*/

#landing-demo-themes {
  overflow: hidden;

  text-align: center;
}

#landing-demo-themes img {
  width: 6000px;
  height: 200px;
}

#landing-demo-themes > div {
  position: relative;

  overflow: hidden;

  width: 12000px;
  height: 200px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;

  opacity: 1;
}

#landing-demo-themes > div > div {
  -webkit-animation: themes-scrolling 40s infinite;
  -moz-animation: themes-scrolling 40s infinite;
  -o-animation: themes-scrolling 40s infinite;
  animation: themes-scrolling 40s infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  white-space: nowrap;

  opacity: 1;
}

html[dir="rtl"] #landing-demo-themes > div > div {
  right: 0;
  left: auto;

  -webkit-animation: themes-scrolling-rtl 40s infinite;
  -moz-animation: themes-scrolling-rtl 40s infinite;
  -o-animation: themes-scrolling-rtl 40s infinite;
  animation: themes-scrolling-rtl 40s infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes themes-scrolling {
  from { transform: translate(0, 0); }
  to { transform: translate(-6000px, 0); }
}
@-moz-keyframes themes-scrolling {
  from { transform: translate(0, 0, 0); }
  to { transform: translate(-6000px, 0); }
}
@-o-keyframes themes-scrolling {
  from { transform: translate(0, 0, 0); }
  to { transform: translate(-6000px, 0); }
}
@keyframes themes-scrolling {
  from { transform: translate(0, 0); }
  to { transform: translate(-6000px, 0); }
}
@-webkit-keyframes themes-scrolling-rtl {
  from { transform: translate3d(0, 0, 0); }
  to { transform: translate3d(6000px, 0, 0); }
}
@-moz-keyframes themes-scrolling-rtl {
  from { transform: translate3d(0, 0, 0); }
  to { transform: translate3d(6000px, 0, 0); }
}
@-o-keyframes themes-scrolling-rtl {
  from { transform: translate3d(0, 0, 0); }
  to { transform: translate3d(6000px, 0, 0); }
}
@keyframes themes-scrolling-rtl {
  from { transform: translate3d(0, 0, 0); }
  to { transform: translate3d(6000px, 0, 0); }
}

/*********************************************************************************
* Builder demo
*/

#landing-demo-builder {
  position: relative;

  width: 100%;
  max-width: 870px;
  margin: 0 auto;

  overflow: hidden;

  box-shadow: 0 0 10px rgba(39, 38, 52, .03), 0 0 30px rgba(39, 38, 52, .1);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#landing-demo-builder:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 69.1954022988506%;
}

#demo-builder-window {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;

  display: block;

  width: 100%;

  border-radius: 3px;
}

#demo-builder-frames-wrapper {
  position: absolute;
  z-index: 20;
  bottom: 0;
  top: 3.986710963455%;
  left: 0;

  overflow: hidden;

  width: 100%;
}

#demo-builder-frames {
  position: relative;
  top: 0;

  display: block;

  width: 100%;
}

.demo-builder-message {
  position: absolute;
  z-index: 25;
  right: 20%;
  bottom: 10%;
  left: 20%;

  display: block;

  padding: 10px 20px;

  -webkit-animation: rubberBand 1s;
  -moz-animation: rubberBand 1s;
  -o-animation: rubberBand 1s;
  animation: rubberBand 1s;

  border-radius: 4px;

  font-size: 16px;
  font-weight: 600;
}

/* Cursor */

#demo-builder-cursor {
  position: absolute;
  z-index: 30;
  top: 20%;
  left: 30%;

  display: none;

  transition: all 1s;

  opacity: 1;
}

#demo-builder-cursor img {
  position: relative;
  z-index: 50;

  display: block;
}

#demo-builder-cursor-blink {
  position: relative;
  z-index: 50;
  top: 3px;
  left: 1px;

  -webkit-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  transform: translateY(-30px);
}

#demo-builder-cursor-blink.blink > div:nth-child(2) {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

#demo-builder-cursor-blink.blink > div:nth-child(3) {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

#demo-builder-cursor-blink > div {
  position: absolute;
  top: 0px;
  left: -30px;

  width: 60px;
  height: 60px;
  margin: 0;

  opacity: 0;
  border-radius: 100%;
  background-color: #81d7ff;

  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#demo-builder-cursor-blink.blink > div {
  -webkit-animation: demo-builder-cursor-blink 1s 0s linear;
  animation: demo-builder-cursor-blink 1s 0s linear;
}

@-webkit-keyframes demo-builder-cursor-blink {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);

    opacity: 0;
  }
  5% { opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);

    opacity: 0;
  }
}

@keyframes demo-builder-cursor-blink {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);

    opacity: 0;
  }
  5% { opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);

    opacity: 0;
  }
}

/* Finish */

#demo-builder-repeat {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;

  display: none;

  width: 80px;
  height: 80px;
  margin-top: -40px;
  margin-left: -40px;

  text-align: center;

  border-radius: 3px;

  font-size: 40px;
  line-height: 80px;
}

#demo-builder-repeat:hover,
#demo-builder-repeat:focus {
  -webkit-animation: pulse .4s;
  -moz-animation: pulse .4s;
  -o-animation: pulse .4s;
  animation: pulse .4s;
}

#demo-builder-overlay {
  position: absolute;
  z-index: 98;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: .7;
}

/* Stages */

#landing-demo-builder .stage0,
#landing-demo-builder .stage1,
#landing-demo-builder .stage2,
#landing-demo-builder .stage3,
#landing-demo-builder .stage4,
#landing-demo-builder .stage5,
#landing-demo-builder .stage6 {
  display: none;
}

#landing-demo-builder.stage0 .stage0,
#landing-demo-builder.stage1 .stage1,
#landing-demo-builder.stage2 .stage2,
#landing-demo-builder.stage3 .stage3,
#landing-demo-builder.stage4 .stage4,
#landing-demo-builder.stage5 .stage5,
#landing-demo-builder.stage6 .stage6 {
  display: block;
}

#landing-demo-builder.stage0 #demo-builder-frames { top: 0; }
#landing-demo-builder.stage1 #demo-builder-frames { top: -100%; }
#landing-demo-builder.stage2 #demo-builder-frames { top: -200%; }
#landing-demo-builder.stage3 #demo-builder-frames { top: -300%; }
#landing-demo-builder.stage4 #demo-builder-frames { top: -400%; }
#landing-demo-builder.stage5 #demo-builder-frames { top: -500%; }

#landing-demo-builder.stage6 #demo-builder-frames,
#landing-demo-builder.stage7 #demo-builder-frames {
  top: -600%;
}

#landing-demo-builder.stage6 .demo-builder-message.stage6 { z-index: 99; }
